<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Login_servlet</display-name>
    <servlet-name>Login_servlet</servlet-name>
    <servlet-class>servlet.Login_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_servlet</servlet-name>
    <url-pattern>/Login_servlet</url-pattern>
  </servlet-mapping>
  <display-name>ecom_shopp_project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCart</display-name>
    <servlet-name>AddCart</servlet-name>
    <servlet-class>servlet.AddCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCart</servlet-name>
    <url-pattern>/AddCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Quanti_prod</display-name>
    <servlet-name>Quanti_prod</servlet-name>
    <servlet-class>servlet.Quanti_prod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Quanti_prod</servlet-name>
    <url-pattern>/Quanti_prod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>supp_prod</display-name>
    <servlet-name>supp_prod</servlet-name>
    <servlet-class>servlet.supp_prod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>supp_prod</servlet-name>
    <url-pattern>/supp_prod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>buy_prod</display-name>
    <servlet-name>buy_prod</servlet-name>
    <servlet-class>servlet.buy_prod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buy_prod</servlet-name>
    <url-pattern>/buy_prod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrdersBuyServlet</display-name>
    <servlet-name>OrdersBuyServlet</servlet-name>
    <servlet-class>servlet.OrdersBuyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdersBuyServlet</servlet-name>
    <url-pattern>/OrdersBuyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>check_out</display-name>
    <servlet-name>check_out</servlet-name>
    <servlet-class>servlet.check_out</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check_out</servlet-name>
    <url-pattern>/check_out</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_user</display-name>
    <servlet-name>Add_user</servlet-name>
    <servlet-class>servlet.Add_user</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_user</servlet-name>
    <url-pattern>/Add_user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_product</display-name>
    <servlet-name>Add_product</servlet-name>
    <servlet-class>servlet.Add_product</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_product</servlet-name>
    <url-pattern>/Add_product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete</display-name>
    <servlet-name>delete</servlet-name>
    <servlet-class>servlet.delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cancel</display-name>
    <servlet-name>cancel</servlet-name>
    <servlet-class>servlet.cancel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cancel</servlet-name>
    <url-pattern>/cancel</url-pattern>
  </servlet-mapping>
</web-app>